*{
  margin: 0;
  padding: 0
}

.parent{
  width: 100vw;
  height: 100vh;
 display: flex;
}

.left{
  width: 50vw;
  height: 100vh;
  background-color: blanchedalmond;
}

.right{
  width: 50vw;
  height: 100vh;
  background-color: brown;
}